body {
	box-sizing: border-box;
	font-family: 'Raleway', 'sans-serif';	
	margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
	padding: 2%;
}
footer {
	padding: 20px;
	bottom: 0px;
	background:  #f2f2f2;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin: 0px;
	margin-top: 2%;
}

ul {
	list-style-type: none;
	line-height:25px;
	margin-right: 20%;
}

em {
	font-weight:bold;
	font-style:normal;
}

strong {
	font-weight:bold;
	font-style:normal;
}

.title {
	line-height: 1.5em;
	letter-spacing: normal;
	font-size: 1.2em;
	font-weight: 900;
}


.title span {
	font-size: 0.8em;
	font-weight: 400;
}

#search {
	display: flex;
	margin-bottom: 10px;
	margin-top: 20px;
}

#searchbar {
	height: 50px;
	border:  solid #f2f2f2 2px;
	border-right: none;
	border-left: none;
	font-weight: bold;
	padding-left: 25px;
	font-size: 1.1em;
}

#searchicon {
	min-width: 50px;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
}

#searchbutton {
	background: #0065fc;
	color: #ffffff;
	border: none;
	border-radius: 0px 10px 10px 0px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;

}
.searchbutton2 {
	display: none;
}

header form, header p, header h1{
	padding-right: 2%;
	padding-left: 2%;
}

nav {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #0065fc;
	text-align: center;
}


nav a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #0065fc;
	padding: 30px;
}

nav .heber {
	border-top: solid;
}

nav .acti {
	color: #202020;
}

#filtresbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filtre [type="checkbox"] {
	display: none;
}

.filtre label.label-text {
	margin: 8px;
	position: relative;
	right:  20px;
	line-height: 36px;
	padding-left: 30px;
	padding-right: 25px;
	vertical-align: middle;
	z-index: 1;
	border:  solid #f2f2f2 2px;
	border-left: none;
	border-top-right-radius: 19px 50%;
	border-bottom-right-radius: 19px 50%;
	font-weight: bold;
}
.filtre {
	display: flex;
	align-items: center;
}
.filtreicon {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #deebff;
	color: #0065fc;
	border-radius: 50%;
	z-index: 2;
}

.filtre input:checked + label + label {
	color: #ffffff;
	background-color: #0065fc;
}

.filtre input:not(:checked) + label + label:hover, .filtre input:not(:checked) + label:hover + label {
	background-color: #f2f2f2;
}

#filtresbar h5 {
	font-weight: bold;
	font-size: 1em;
	margin-right: 30px;
	margin-bottom: 8px;
}

.fa-info-circle {
	margin-right: 4px;	
	color: #0065fc;
}

#logements {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	width: 96vw;
}

#hebergements {
	background: #f2f2f2;
	border-radius: 30px;
	padding: 30px;
	flex: 2;
	margin-right: 30px;
}

#hebergements-list {
	height: 60vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding-bottom: 20px;
}

#hebergements-list div {
	width: 30%;
	height: 45%;
	text-align: left;	
	border: solid 4px #ffffff;
	border-radius: 20px;
	overflow: hidden;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: space-between;
	align-items: stretch;
	box-shadow: 1px 1px 6px 4px #e0e0e0;
}

#hebergements-list p {
	background: #ffffff;
	line-height: 1.5;
	margin-left: 8px;
}

#hebergements-list div img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.fa-star.check {
	color: #0065fc;
}

.fa-star.uncheck {
	color: grey;
}

#populaires {
	background: #f2f2f2;
	border-radius: 30px;
	padding: 30px;
	flex: 1;

}

#populaires-list {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#populaires-list div {
	width: 100%;
	height: 30%;
	text-align: left;	
	border: solid 4px #ffffff;
	border-radius: 20px;
	overflow: hidden;
	background: #ffffff;
	display: flex;
	box-shadow: 1px 1px 6px 4px #e0e0e0;
}

#populaires-list p {
	background: #ffffff;
	line-height: 1.5;
	position: relative;
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#populaires-list img {
	height: 100%;
	width: 30%;
	object-fit: cover;
}

#activites {
	background: #ffffff;
	padding: 0px;
	padding-top: 40px;
	width: 96vw;
}

#activites-list {
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}

#activites-list figure {
	width: 23%;
	height: 45%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: 1px 1px 6px 4px #f2f2f2;
	margin: 0px;

}
#activites-list figcaption {
	background: #ffffff;
	text-align: left;	
	padding: 8px;
	line-height: 1.5;
	font-weight: bold;
}

#activites-list img {
	object-fit: cover;
}

#activites-list :nth-child(3n+1){
	height: 100%;
	object-fit: cover;
}

.fa-chart-line {
	float: right;
}

#searchbar::-ms-clear {
	display: none;
}

#searchbar::-webkit-search-cancel-button {
	display: none;
}


@media only screen and (max-width: 992px)
{
	main {
		padding: 0px;
	}

	#logements {
		flex-wrap: wrap-reverse;
		width: 100vw;
	}

	#activites {
		height: auto;	
		width: 100vw;
		padding: 4%;
	}
	#activites-list {
		height: auto;	
		width: 100%;
	}
	#activites-list figure, #activites-list :nth-child(3n+1) {
		width: 100%;
		height: 30vh;
		max-height: 70vw;
		margin-bottom: 15px;
	}

	#populaires {
		width: 100vw;
		height: auto;
		border-radius: 0px;
		padding: 4%;
	}
	#populaires-list {
		width: 100%;
		height: auto;
		border-radius: 0px;
	}
	#populaires-list div {
		width: 100%;
		margin-bottom: 15px;
		height: 30vh;
		max-height: 70vw;
	}
	#populaires-list img {
		width: 40%;
	}

	#hebergements {
		min-width: 100vw;
		border-radius: 0px;
		background: #ffffff;
		padding: 4%;
	}
	#hebergements-list {
		height: auto;	
		width: 100%;
	}

	#hebergements-list div {
		height: 30vh;
		width: 100%;
		max-height: 70vw;
		margin-bottom: 15px;
	}

	nav {
		position: static;
		color: #0065fc;
		width: 100vw;
	}
	nav a {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		color: #0065fc;
		padding-bottom: 10px;
	}
	nav .heber {
		border-top: none;
		border-bottom: solid 2px;
		width: 50%;
		font-size: 3vw;
	}
	nav .acti {
		color: #202020;
		border-bottom: solid 2px #f2f2f2;
		width: 48%;
		font-size: 3vw;
	}
	nav .inscr {
		padding: 30px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	header {
		padding-left: 0%;
		padding-right: 0%;
	}

	#search {
		justify-content: center;
		margin-top: 25px;
	}

	#filtresbar h5 {
		width: 100%;
	}

	footer {
		flex-direction: column;
	}

	header {
		padding-bottom: 20px;
	}

	#logo img {
		width: 20vw;
		min-width: 100px;
	}

	.title {
		padding-left: 5vh;
		padding-right: 5vh;
	}

	header form {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	header form +p {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	#searchbar {
		width: 30%;
	}
}

@media only screen and (max-width: 600px)
{
	#search {
		justify-content: center;
		margin-top: 25px;
	}
	#searchbutton {
		display: none;
	}
	.searchbutton2 {
		position: relative;
		right: 10px;
		display: block;
		min-width: 50px;
		min-height: 50px;
		line-height: 50px;
		text-align: center;
		background: #0065fc;
		color: #ffffff;
		border: none;
		border-radius: 10px;
	}
	nav .heber {
		font-size: 3.5vw;
	}
	nav .acti {
		font-size: 3.5vw;
	}

	.filtre label.label-text  {
		padding-right: 18px;
		padding-left: 18px;
		margin-right: 0px;
	}
	#searchbar {
		width: 100%;
	}

}
